{% extends "base.html" %}
{% block content %}
	
	<div class="row">
	  <form action="" method="post" name="post">
		{{ form.hidden_tag() }}
		<table class="col-md-6 col-md-offset-3">
			<tr>
			    <td>Say something:&nbsp;</td>
			    <td>{{ form.post(size=30, maxlength=140, class="form-control") }}</td>
			    <td><input type="submit" value="post" class="btn" style="margin-left:10px;"></td>
			    <td>
			    {% for error in form.post.errors %}
			    <span style="color: red;">[{{ error }}]</span><br>
			    {% endfor %}
			    </td>
			</tr>
		</table>
	  </form>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-3" style="text-align:center">
			<div class="page-header row">
				{% if posts.has_prev %}
					{% if trace %}
				    <div class="col-md-2"><a href="{{ url_for('index', page=posts.prev_num, trace=trace.serialize()) }}"><h2>Newer</h2></a></div>
				    {% else %}
				    <div class="col-md-2"><a href="{{ url_for('index', page=posts.prev_num) }}"><h2>Newer</h2></a></div>
				    {% endif %}
				    <div class="col-md-8"><h1>Posts of the Day</h1></div>
				{% else %}
					<div class="col-md-8 col-md-offset-2"><h1>Posts of the Day</h1></div>
				{% endif %}
				{% if posts.has_next %}
					{% if trace %}
					<div class="col-md-2"><a href="{{ url_for('index', page=posts.next_num, trace=trace.serialize()) }}"><h2>Older</h2></a></div>
				    {% else %}
				    <div class="col-md-2"><a href="{{ url_for('index', page=posts.next_num ) }}"><h2>Older</h2></a></div>
				    {% endif %}
				{% endif %}
			</div>
		<table class="table">
			{% for post in posts.items %}
				{% include 'post.html' %}
			{% endfor %}
		</table>
		</div>
	</div>
{% endblock %}